body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20;
}

#btn{
    background-color: rgb(194, 194, 251);
    transition: 0.3s;
    width: 100px;
    cursor: pointer;
    color: black;
}

#btn:hover{
    transform: scale(1.05);
    background-color: brown;
}